---
layout: special
category : articles
tags : [design]
---
{% include JB/setup %}

{% include designCSS %}

<div id="outer_wrapper">
  <h1 id="headline">Designing the Burrows + Gaskill Letterpress Invitations</h1>
  <div class="article">

    <div class="section" id="intro">
      <p class="first">
        I've had a letterpress for a couple years now; I absolutely love the thing, but rarely do I get the opportunity to put it to good use.
        Luckily, I've got four siblings, and [thusfar] they've all asked me to (or I've convinced them to let me) design and print their wedding invitations.
      </p>
      <p>
        The process of designing something for the most important day of someones life is a bit daunting in and of itself, but that task becomes
        even more so when that "someone" just happens to be a member of your family. In such situations, a part of me thinks: <q class="pull">Gosh, if these don't look good or
        I screw this up, I'm gonna hear about it for the rest of my life.</q>
      </p>
      <p>
        Maybe I'm being a bit dramatic, but I take this stuff kind of seriously.
        And there's always (no matter what the project) a little part of me that wonders if I can produce something I'll actually be proud of &mdash;
        something that I <em>know</em> others will think is as good as I think it is. That kind of worry occasionally weighs heavy on my mind,
        and I think it might have been a bit of a hindrance in the early stages of this process. Let me explain&hellip;
      </p>
    </div>
    <div class="section" id="beginning">
      <h2>Frustrating Beginnings</h2>
      <p>
        When the time came to begin work on my sister's invitations, I was eager but a bit hesitant; it took me a while to get fully motivated to begin,
        because nothing spectacular was coming to mind &mdash; everything I created in Illustrator or Photoshop looked awful, and no amount of pixel-pushing
        seemed to help. Normally, when a design doesn't seem to be working, brute force over a period of time &mdash; trying every different thing I can think of &mdash;
        eventually seems to get it to a point I'm satisfied with, but that just wasn't happening this time.
      </p>
      <p>
        I went through half-a-dozen different mockups, and each new one was just as bad as the ones before. I wasted countless hours (days, really) on things that I hated.
        I'm pretty opinionated about design &mdash; either I love it or I hate it &mdash; and, I <em>hated</em> everything I produced.
      </p>
      <p>
        Running out of time, I finally decided to begin work on something completely different than anything I had mocked-up to that point:
        a hand-drawn, flowery design. Things started out promisingly, but after finishing it up, I decided I hated it.
        It was unoriginal, rough and not very "wedding-y" for lack of a better word.
        Another two days wasted. This was, by far, the most frustrating design process I had been through in a long time (of course,
        the fact that I don't design nearly as often as I used to (or would like to) probably contributed to this).
      </p>
      <p>
        After days of tedious failures, something finally clicked, and I had an idea.
      </p>
    </div>
    <div class="section" id="ah-ha">
      <h2>A Breakthrough <small>(&nbsp;<acronym title="Also Known As">AKA</acronym>: Freaking-A, Finally! <small>~or~</small> It's About Time&nbsp;)</small></h2>
      <p>
        The lightbulb finally came on around 11:30pm, two days before I needed to have the design completed. Knowing it could be awesome if done right,
        but horrible if not perfected, I needed to get approval from the sis before I moved forward. I quickly sketched something up and showed it to her.
        This was the initial sketch that she said "yes" to:
      </p>
      <img class="full" src="/assets/images/burrows-gaskill/sketch.jpg" title="the rough sketch that my sister approved">
      <p>
        Looking back on that sketch, I have absolutely no idea why she said yes. I must have talked her into it (I did my best to convince her it would look much better
        when completed), but that sketch is awful. If the final invitations would have turned out looking like that, I would have been a little embarrassed.
        Luckily, Emily trusted me, and I began moving forward with new motivation and exuberance.
      </p>
    </div>
    <div class="section rant">
      <h2>Long Hours</h2>
      <p>
        I've always believed that, if given enough time, I can do anything &mdash; I can perfect anything. I think to be brilliant at something, you <em>have to</em> have that kind of confidence.
        Confidence not just in your abilities, but confidence in your work-ethic and perseverance <span class="amp">&amp;</span> persistence.
        You have to be willing to out work everyone else; you have to understand that perfection and greatness in something come with absolute hard work, and nothing less.
        Call it cockiness, call it whatever you want, but I think it's absolutely necessary if you're going to achieve great things.
      <div class="aside">
        <p>
          <em>A bit of an aside:</em> John Nunemaker (of <a href="http://railstips.org">RailsTips</a> <span class="amp">&amp;</span> <a href="http://mongomapper.com">MongoMapper</a> fame) has a
          <a href="http://railstips.org/blog/archives/2010/01/12/i-have-no-talent/" title="I have no talent">great article</a> (and a <a href="http://railstips.org/blog/archives/2010/04/18/i-have-no-talent-redux/" title="I have no talent (redux)">follow-up</a>) that talks about
          the importance of hard work and how "talent" doesn't really matter if you have perseverance.
          When you're finished reading my article, you may want to head over there for a more complete thought on this side-topic.
        </p>
      </div>
      <p>
        The problem I had with these invitations was that I wasn't sure I had "enough time" to perfect them. Getting things right was going to take quite a while,
        and I was just going to have to make time &mdash; so that's what I did. I went to work immediately, and two <em>long</em> nights later, this is what I had:
      </p>
      <img src="/assets/images/burrows-gaskill/artwork.png" alt="Emily + Jarred">
      <p>
        Something I could be proud of. I was proud of both the effort I put into it and the final outcome. But my favorite part about it is something most people probably
        won't even notice: the peacocks. See, Emily's wedding colors are "peacock colors" (genius, really), and most everything she's done for the wedding has had some sort
        of peacock connection. I was able to pull four peacocks into the design. Check it out:
      </p>
      <img src="/assets/images/burrows-gaskill/artwork_highlighted.jpg" alt="Emily + Jarred with peacocks">
      <p>
        And the artwork for the RSVPs was more of the same (notice the more obvious peacock on the top of the "R"):
      </p>
      <img src="/assets/images/burrows-gaskill/rsvp_artwork.png" alt="RSVP">
    </div>

    <div class="section">
      <h2>The Payoff</h2>
      <p>Finally, it was printing time. And rather than continue to rant about this thing, I'm just going to show you in pictures how they turned out. Letterpressed with love. Enjoy.</p>
      <img src="/assets/images/burrows-gaskill/invite.jpg">
      <img src="/assets/images/burrows-gaskill/invite_inside.jpg">
      <img src="/assets/images/burrows-gaskill/rsvp.jpg">
      <img src="/assets/images/burrows-gaskill/invite_close.jpg">
      <img src="/assets/images/burrows-gaskill/rsvp_close.jpg">
      <img src="/assets/images/burrows-gaskill/all.jpg">
     <p>If you want to see more pictures of the invitations and RSVPs, there's a Flickr set up <a href="http://www.flickr.com/photos/peburrows/sets/72157623738301305/" title="Flickr set of Emily + Jarred invitations">here</a>.</p>
    </div>

    <div class="section" id="contact_me">
      <h2>Need Invitations?</h2>
      <p>
        If you're looking for custom wedding invitations, save-the-dates, baby announcements or <em>anything</em> else, I'm currently available for hire;
        you name it, I'd be happy to help. Send me an email at <a href="mailto:design@philburrows.com">design@philburrows.com</a>,
        and we can discuss the details of your project.
      </p>
    </div>

    <div class="aside">
      <p class="byline">
        Posted by <a href="http://blog.philburrows.com">Phil Burrows</a> on April 29th, 2010.
      </p>
    </div>
  </div> <!-- .article -->
  <div id="comments_wrapper">
  </div>
</div>